.vocab-box {
  width: 200px;
  font-size: 2em;
}
.vocab-box-remove {
  visibility: hidden;
  cursor: pointer;
  float: left;
}
.vocab-box-reading {
  visibility: hidden;
}
.vocab-box-answer {
  visibility: hidden;
}
.vocab-box:hover .vocab-box-answer {
  visibility: visible;
}

.vocab-box:hover .vocab-box-reading {
  visibility: visible;
}

.vocab-box:hover .vocab-box-remove {
  visibility: visible;
}