.vocab-add-form-view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.vocab-form-field {
  flex: 1;
  padding: 10px;
  margin: 5px;
  max-height: 50px;
}

.vocab-add-form-input {
  border: 2px solid black;
}

.vocab-add-form-button {
  border: 2px solid black;
  cursor: pointer;
  font-size: 4vmin;
  color: #764ABC;
}

.vocab-add-form-button:hover {
  background-color: #764ABC;
  color: white;
}