.App {
  text-align: center;
}

.App-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 100% 50px;
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 4vmin);
  color: white;
  grid-column: span 12;
}

.App-main-container {
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
}

.App-aside {
  flex: 1;
  min-width: 400px;
}

.App-main {
  flex: 2;
  justify-content: center;
}

.App-footer {
  grid-column: span 12;
  background-color: #282c34;
}